<!-- track order section start -->

<div class="row g-0 d-flex">
    <div class="col-12 col-md-6 col-xl-3 end">
        <div class="track_order">
            <div class="header d-flex">
                <i class="zmdi zmdi-close" (click)="close()"></i>
                <h2>{{'order_track' | translate}} </h2>
            </div>
            <div class="map center_img">
                <img src="assets/images/map.png" class="img-fluid">

                <i class="zmdi zmdi-pin" style="top: 28%; left: 19%;"></i>
                <i class="zmdi zmdi-navigation" style="top: 43%; left: 77%;"></i>

                <div class="deliveryBoy" style="top: 42%; left: 42%;">
                    <img src="assets/images/icons/ic_bike.png" style="transform: rotate(82deg);">
                </div>
            </div>

            <div class="vendorList">
                <div class="media p-0">
                    <div class="img_box center_img">
                        <img src="assets/images/img_deliveryman.jpg" class="crop_img">
                    </div>
                    <div class="media-body">
                        <h2 class="d-flex">
                            George Anderson
                        </h2>
                        <h3 class="d-flex">
                            {{'delivery_partner' | translate}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- track order section start -->