<div class="body_wrapper">

    <!-- category section start -->
    <div class="category">
        <div class="container">
            <owl-carousel-o [options]="categoryCarousel">
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            OTC Medicines
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Diabetes Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Baby & Mother
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Personal Care
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>

                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            OTC Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>

                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Diabetes Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Baby & Mother
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            OTC Medicines
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Diabetes Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Baby & Mother
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Personal Care
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>

                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            OTC Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>

                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Diabetes Medicine
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
                <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                    <h3>
                        <a class="d-flex align-items-center">
                            Baby & Mother
                            <i class="zmdi zmdi-chevron-down text-end"></i>
                        </a>
                    </h3>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- category section end -->


    <section class="itemRow pt-0 themePadding">
        <div class="container">
            <div class="row g-3">
                <div class="col-12 col-lg-8">
                    <div class="card p-5 py-4">
                        <div class="row g-0 align-items-center">
                            <div class="itemImg col-12 col-md-3">
                                <img src="assets/images/items/1.png" class="img-fluid">
                            </div>
                            <div class="text_box col-12 col-md-9">
                                <h2 class="d-flex">Salospir 100mg Tablet
                                    <img src="assets/images/icons/px.png" class="end">
                                </h2>
                                <h3 class="pb-4">Health Care</h3>
                                <div class="d-flex align-items-center w-100 pt-3">
                                    <div>
                                        <h3 class="pb-2">{{'reviews' | translate}}</h3>
                                        <h4 class="d-flex align-items-center">
                                            <i class="zmdi zmdi-star"></i> 4.5
                                            <span>&nbsp;&nbsp;(124)</span>
                                        </h4>
                                    </div>
                                    <div class="bookmark end" [ngClass]="toggleClass ? 'active' : '' " (click)="saveInBookmark()">
                                        <i class="zmdi zmdi-bookmark-outline"></i>
                                        <i class="zmdi zmdi-bookmark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- About & Reviews start -->

                    <ul class="nav">
                        <li class="nav-item" [ngClass]="toggleClass1 ? 'active' : '' " (click)="about()">
                            <a class="nav-link">
                                {{'about' | translate}}
                            </a>
                        </li>
                        <li class="nav-item" [ngClass]="toggleClass2 ? 'active' : '' " (click)="reviews()">
                            <a class="nav-link">
                                {{'reviews' | translate}}
                            </a>
                        </li>
                    </ul>

                    <div class="tab_content">
                        <!-- About section start -->
                        <div class="p-5 py-4 card" *ngIf="showSection == 1">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>

                            <div class="vendorList">
                                <h3>{{'seller' | translate}}</h3>
                                <div class="media" (click)="vendorInfo()">
                                    <div class="img_box center_img">
                                        <img src="assets/images/vendor/1.png" class="crop_img">
                                    </div>
                                    <div class="media-body px-1">
                                        <h2>Well Life Store</h2>
                                        <h5 class="d-flex align-items-center">
                                            <i class="zmdi zmdi-pin"></i> Willinton Bridge
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About section end -->

                        <!-- Reviews start -->
                        <div class=" p-5 py-4 card" *ngIf="showSection == 2">
                            <ul class="list-group">
                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>George Timber</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Emili Johnson</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">23 Feb, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Jackson Demmy</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Opera Taylor</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>
                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>George Timber</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Emili Johnson</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">23 Feb, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Jackson Demmy</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Opera Taylor</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>
                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>George Timber</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Emili Johnson</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">23 Feb, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Jackson Demmy</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 4.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>

                                <li class="list-group-item animate__animated animate__fadeInUp wow">
                                    <h2>Opera Taylor</h2>
                                    <h3 class="d-flex">
                                        <i class="zmdi zmdi-star"></i> 5.0
                                        <span class="end">5 April, 20</span>
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- Reviews end -->
                    </div>
                    <!-- About & Reviews end -->
                </div>



                <div class="col-12 col-lg-4">
                    <div class="price_info">
                        <div class="card px-4 py-4">
                            <h1 class="pb-4 pt-2 ">$3.50 <sub>{{'inclusive_all_tax' | translate}}.</sub></h1>
                            <form class="pt-4">
                                <div class="from_inner">
                                    <div class="form-group select_box animate__animated animate__fadeInUp wow mb-0">
                                        <label>{{'quantity' | translate}}</label>
                                        <div class="form-group-inner d-flex align-items-center">
                                            <select class="form-select" id="inlineFormSelectPref">
                                                <option  value="1"> 
                                                    {{'pack_of' | translate}} 1
                                                </option>
                                                <option  value="2"> 
                                                    {{'pack_of' | translate}} 2
                                                </option>
                                                <option  value="3"> 
                                                    {{'pack_of' | translate}} 4
                                                </option>
                                                <option  value="4" selected> 
                                                    {{'pack_of' | translate}} 8
                                                </option> 
                                            </select>

                                            <i class="zmdi zmdi-chevron-down end text-end"></i>
                                        </div>
                                    </div>
                                    <br>

                                    <button class="btn mt-1 animate__animated animate__fadeInUp wow">
                                        {{'add_to_cart' | translate}} 
                                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>