<div class="body_wrapper">
    <!-- List of Specialties section start -->
    <section class="themePadding pt-0">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-lg-6">
                    <div class="sectionHeader pt-5">
                        <h2 class="text-center text-lg-start">45 General Physician found</h2>
                    </div>

                    <div class="vendorList">
                        <div class="media pb-4" (click)="doctorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/doctors/doc1.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Dr. Joseph Williamson</h2>
                                <h3> Cardiac Surgeon <span>{{'at' | translate}}</span> Apple Hospital</h3>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <h2>
                                            {{'exp' | translate}}&nbsp;<strong>22
                                                        {{'years' | translate}}</strong>
                                        </h2>
                                    </div>
                                    <div class="col-3">
                                        <h2>{{'fees' | translate}}&nbsp;<strong>$30</strong>
                                        </h2>
                                    </div>

                                    <div class="d-flex col-5">
                                        <h2 class="end">
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star"></i> &nbsp; (152)
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media pb-4" (click)="doctorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/doctors/doc3.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Dr. Anthony Peterson</h2>
                                <h3> Cardiac Surgeon <span>{{'at' | translate}}</span> Opus Hospital
                                </h3>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <h2>
                                            {{'exp' | translate}}&nbsp;<strong>22
                                                        {{'years' | translate}}</strong>
                                        </h2>
                                    </div>
                                    <div class="col-3">
                                        <h2>{{'fees' | translate}}&nbsp;<strong>$30</strong>
                                        </h2>
                                    </div>

                                    <div class="d-flex col-5">
                                        <h2 class="end">
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i> &nbsp; (199)
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media pb-4" (click)="doctorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/doctors/doc2.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Dr. Angline Taylor</h2>
                                <h3> Cardiac Surgeon <span>{{'at' | translate}}</span> Operum Clinics
                                </h3>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <h2>
                                            {{'exp' | translate}}&nbsp;<strong>22
                                                        {{'years' | translate}}</strong>
                                        </h2>
                                    </div>
                                    <div class="col-3">
                                        <h2>{{'fees' | translate}}&nbsp;<strong>$30</strong>
                                        </h2>
                                    </div>

                                    <div class="d-flex col-5">
                                        <h2 class="end">
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i> &nbsp; (240)
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media pb-4" (click)="doctorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/doctors/doc4.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Dr. Elina George </h2>
                                <h3> Cardiac Surgeon <span>{{'at' | translate}}</span> Lisameth Hospital
                                </h3>
                                <div class="row g-0">
                                    <div class="col-4">
                                        <h2>
                                            {{'exp' | translate}}&nbsp;<strong>22
                                                        {{'years' | translate}}</strong>
                                        </h2>
                                    </div>
                                    <div class="col-3">
                                        <h2>{{'fees' | translate}}&nbsp;<strong>$30</strong>
                                        </h2>
                                    </div>

                                    <div class="d-flex col-5">
                                        <h2 class="end">
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star active"></i>
                                            <i class="zmdi zmdi-star "></i> &nbsp; (192)
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-6">
                    <div class="map center_img">
                        <img src="assets/images/map.png" class="img-fluid crop_img">


                        <div class="doctor center_img" style="left: 58%; top: 11%;" (click)="doctorInfo()">
                            <img src="assets/images/doctors/doc1.png" class="crop_img">
                        </div>
                        <div class="doctor center_img" style="left: 82%; top: 3%;" (click)="doctorInfo()">
                            <img src="assets/images/doctors/doc2.png" class="crop_img">
                        </div>
                        <div class="doctor center_img" style="left: 46%; top: 46%;" (click)="doctorInfo()">
                            <img src="assets/images/doctors/doc3.png" class="crop_img">
                        </div>
                        <div class="doctor center_img" style="left: 59%; top: 74%;" (click)="doctorInfo()">
                            <img src="assets/images/doctors/doc4.png" class="crop_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>