 .card {
     background: var(--bg-white);
     box-shadow: none;
     border-radius: 15px;
     border: 0;
     margin-bottom: 10px;
     .itemImg {
         display: flex;
         align-items: center;
         min-height: 160px;
         img {
             max-width: 150px;
             height: 180px;
         }
     }
     .text_box {
         h2 {
             margin: 0;
             color: var(--text-dark);
             font-size: 1.2rem;
             font-weight: 500;
             padding-bottom: 15px;
             img {
                 display: block;
                 width: 18px;
                 max-width: 18px;
             }
         }
         h3 {
             margin: 0;
             color: var(--text-light);
             font-weight: 400;
             font-size: 0.9rem;
         }
         h4 {
             margin: 0;
             color: var(--yelow-color);
             font-size: 1.0rem;
             font-weight: 600;
             i {
                 font-size: 1.2rem;
                 min-width: 20px;
             }
             span {
                 color: var(--text-light);
                 min-width: fit-content;
                 font-weight: 400;
             }
         }
         h5 {
             margin: 0;
             color: var(--text-dark);
             font-size: 1.0rem;
             font-weight: 400;
         }
     }
     &.availability {
         .vendorList {
             border-bottom: 2px dashed var(--border-color);
             padding-bottom: 0 !important;
             margin-bottom: 25px;
             cursor: unset;
             &:last-child {
                 margin-bottom: 0 !important;
                 padding-bottom: 0 !important;
                 border-bottom: 0 !important;
             }
             .list-group {
                 li {
                     padding: 10px 0px;
                     cursor: unset;
                     h3 {
                         color: var(--text-light);
                         font-size: 0.85rem;
                         font-weight: 400;
                         padding: 0;
                         cursor: unset !important;
                         span {
                             min-width: fit-content;
                             color: var(--text-dark);
                             font-size: 1.1rem;
                             font-weight: 500;
                             display: flex;
                             align-items: center;
                             small {
                                 color: var(--text-light);
                                 font-size: 0.85rem;
                                 font-weight: 400;
                                 padding: 0 10px;
                             }
                         }
                     }
                 }
             }
         }
     }
 }
 
 .nav {
     padding: 0;
     background: var(--bg-color);
     border-radius: 15px 15px 0 0;
     overflow: hidden;
     .nav-item {
         cursor: pointer;
         position: relative;
         min-width: 140px;
         &::before {
             content: '';
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: var(--bg-white);
             opacity: 0;
             transition: all .5s;
         }
         .nav-link {
             display: block;
             position: relative;
             z-index: 99;
             color: var(--text-light);
             font-size: 0.85rem;
             font-weight: 400;
             padding: 13px 15px;
             text-align: center;
             letter-spacing: .5px;
         }
         &.active {
             &::before {
                 opacity: 1;
             }
         }
     }
 }
 
 .tab_content {
     .card {
         border-radius: 0 0px 15px 15px;
         p {
             margin: 0;
             color: var(--text-dark2);
             font-size: 0.9rem;
             line-height: 30px;
             padding-bottom: 25px;
         }
         .vendorList {
             h3 {
                 color: var(--text-light);
                 font-size: 0.85rem;
                 font-weight: 400;
                 padding-bottom: 10px;
             }
             .media {
                 box-shadow: none !important;
                 padding: 0 !important;
                 transform: none !important;
                 cursor: unset !important;
                 .img_box {
                     min-width: 95px;
                     height: 95px;
                 }
             }
             &.services_at {
                 .media {
                     .media-body {
                         h5 {
                             color: var(--text-light2);
                             font-weight: 400;
                             font-size: 0.9rem;
                             i {
                                 font-size: 1.5rem;
                                 min-width: fit-content;
                             }
                         }
                     }
                 }
             }
         }
         .list-group {
             border-radius: 0;
             border: 0;
             padding: 15px 0;
             li {
                 border: 0;
                 padding: 15px 0px;
                 h2 {
                     margin: 0;
                     color: var(--text-black);
                     font-size: 1.1rem;
                     padding-bottom: 8px;
                 }
                 h3 {
                     margin: 0;
                     color: #7dca24;
                     font-weight: 600;
                     cursor: pointer;
                     font-size: 0.8rem;
                     min-width: fit-content;
                     padding-bottom: 5px;
                     i {
                         font-size: 0.85rem;
                         min-width: 17px;
                     }
                     span {
                         font-weight: 400;
                         color: var(--text-light);
                         min-width: fit-content;
                     }
                 }
                 p {
                     margin: 0;
                     color: var(--text-dark2);
                     font-size: .8rem;
                     line-height: 26px;
                     padding-bottom: 0;
                 }
             }
         }
     }
 }
 
 .book_an_appointment {
     .card {
         h2 {
             margin: 0;
             color: var(--text-dark);
             font-size: 1.2rem;
             font-weight: 500;
             padding-bottom: 15px;
         }
         form {
             h2 {
                 margin: 0;
                 color: var(--text-light);
                 font-weight: 400;
                 font-size: 0.9rem;
                 span {
                     color: var(--text-dark);
                     font-weight: 500;
                     min-width: fit-content;
                 }
             }
             .from_inner {
                 margin-bottom: 30px !important;
                 .form-group {
                     .form-group-inner {
                         border-radius: 12px;
                         min-height: 55px !important;
                     }
                     &.attach_document {
                         .form-group-inner {
                             border-radius: 12px;
                             min-height: 55px !important;
                             .form-control {
                                 position: absolute;
                                 opacity: 0;
                             }
                             h3 {
                                 font-size: 0.85rem;
                                 margin: 0;
                                 color: var(--primary);
                             }
                         }
                     }
                 }
             }
             .selectDateTime {
                 .from_inner {
                     display: block;
                     width: 100%;
                     overflow: hidden;
                     overflow-x: auto;
                     white-space: nowrap;
                     padding-bottom: 20px;
                     margin-bottom: 30px;
                     &::-webkit-scrollbar {
                         height: 5px;
                     }
                     &::-webkit-scrollbar-track {
                         background-color: var(--bg-color);
                         border-radius: 50px;
                         height: 5px;
                     }
                     &::-webkit-scrollbar-thumb {
                         background-color: var(--text-light);
                         border-radius: 50px;
                         height: 5px;
                     }
                     .form-group {
                         display: inline-block;
                         margin: 0 5px;
                         position: relative;
                         .form-check {
                             min-width: 55px;
                             display: flex;
                             align-items: center;
                             min-height: 55px;
                             background: var(--bg-color);
                             border-radius: 12px;
                             padding: 6px;
                             position: relative;
                             cursor: pointer;
                             .form-check-label {
                                 text-align: center;
                                 color: var(--text-dark) !important;
                                 width: 100%;
                                 font-size: 1.1rem;
                                 font-weight: 500;
                                 span {
                                     display: block;
                                     color: var(--text-light);
                                     font-size: .65rem;
                                     font-weight: 500;
                                 }
                             }
                             .form-check-input {
                                 width: 100%;
                                 height: 100%;
                                 left: 0 !important;
                                 right: 0 !important;
                                 top: 0 !important;
                                 max-width: fit-content !important;
                                 max-height: fit-content !important;
                                 display: block;
                                 position: absolute;
                                 border-radius: 8px !important;
                                 background: none !important;
                                 min-width: 100% !important;
                                 margin: 0;
                                 border: 0 !important;
                                 box-shadow: none !important;
                                 overflow: hidden !important;
                                 cursor: pointer;
                                 &::after {
                                     display: none !important;
                                 }
                                 &::before {
                                     content: '';
                                     position: absolute;
                                     top: 0;
                                     left: 0;
                                     right: 0;
                                     bottom: 0;
                                     width: 0;
                                     height: 0;
                                     margin: auto;
                                     background: var(--primary);
                                     transition: all .3s;
                                     opacity: .1;
                                 }
                                 &:checked {
                                     border-color: var(--primary) !important;
                                     &::before {
                                         width: 100%;
                                         height: 100%;
                                     }
                                 }
                             }
                         }
                     }
                     &.select_time {
                         .form-check {
                             min-width: 130px !important;
                         }
                     }
                 }
             }
         }
         button.btn {
             visibility: visible;
             width: 100%;
             border-radius: 9px;
             letter-spacing: 0;
             text-transform: unset;
             font-weight: 400;
             font-size: .95rem !important;
         }
     }
 }