.banner {
    position: relative;
    padding-bottom: 10px;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: calc(100% - 130px);
    //     background-image: url('../../assets/images/home-banner-bg.png');
    //     background-repeat: repeat;
    //     background-size: cover;
    //     display: block !important;
    //     background-color: var(--bg-secondary);
    // }
    .mainBanner {
        background-color: var(--bg-secondary);
        position: relative;
        overflow: hidden;
        .banner_img {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            width: 100%;
            z-index: -1;
        }
    }
    h1 {
        margin: 0;
        color: var(--text-dark3);
        font-weight: 600;
    }
    p {
        color: #7f969e;
        font-size: 0.95rem;
        line-height: 29px;
        margin: 0;
    }
    form {
        .form-group {
            &.search_box {
                .form-group-inner {
                    background: var(--bg-white);
                    border-radius: 15px;
                    min-height: 60px;
                    padding: 0 8px;
                    button.btn {
                        width: 45px !important;
                        min-width: 45px !important;
                        padding: 0;
                        height: 45px;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        background: var(--primary);
                        min-height: 45px !important;
                        i {
                            color: var(--text-white);
                            text-align: center;
                            position: relative;
                            margin: auto;
                            top: 1px;
                            font-size: 1.1rem;
                        }
                    }
                    input {
                        min-height: 42px !important;
                        line-height: 42px !important;
                        font-weight: 500;
                        padding: 0 11px !important;
                        font-size: 0.9rem !important;
                        &::placeholder {
                            color: var(--text-light2) !important;
                            font-weight: 400;
                        }
                        &:-ms-input-placeholder {
                            color: var(--text-light2) !important;
                            font-weight: 400;
                        }
                        &::-ms-input-placeholder {
                            color: var(--text-light2) !important;
                            font-weight: 400;
                        }
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            color: var(--text-light2) !important;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .category {
        background: var(--bg-white);
        h3 {
            margin: 0;
            cursor: pointer;
            a {
                color: var(--text-black);
                text-decoration: none;
                font-size: 0.9rem;
                font-weight: 500;
                padding: 18px 0;
                width: fit-content;
                margin: 0 auto;
                i {
                    font-size: 1.35rem;
                    min-width: 24px;
                }
            }
        }
    }
}

.find_on_map {
    .map {
        max-height: 450px;
        position: relative;
        overflow: hidden;
        .pin {
            position: absolute;
            z-index: 99;
            cursor: pointer;
            img {
                width: 35px;
            }
        }
    }
}

.vendorList {
    .media {
        border-radius: 15px;
        padding: 20px;
        .media-body {
            padding-top: 0;
            .media-header {
                padding-bottom: 15px;
                .img_box {
                    min-width: 90px;
                    height: 55px;
                }
            }
            h3 {
                padding: 0;
                i {
                    min-width: 15px;
                }
            }
        }
    }
}