<div class="body_wrapper">
    <!-- Banner section start -->
    <div class="banner">
        <div class="mainBanner position-relative z-3 pt-5">
            <div class="container position-relative z-3 pt-3">
                <div class="row gap-0 align-items-end position-relative z-3">
                    <div class="col-12 col-lg-6   pb-5 mb-3">
                        <h1 class="h-font pb-4 text-center pt-5 pt-lg-0 text-lg-start an-1" innerHtml="{{'Welcome to sevaghar' | translate}}"></h1>
                        <p class="pb-5 text-center text-lg-start" style="font-size: 24px;">
                          <strong>सेवाघर में आपका स्वागत है💕</strong> <br>
                      </p>
                        <p class="pb-5 text-center text-lg-start " style="font-size: 30px;">
                            Bringing Health Home.
                        </p>
                        <form class="col-12 col-lg-10 px-0" role="search">
                            <div class="form-group search_box mb-0">
                                <div class="form-group-inner d-flex align-items-center mb-0">
                                    <input type="search" class="form-control" placeholder="{{'search_medicines' | translate}}">
                                    <button class="btn" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-6 text-center" style="overflow: hidden">
                        <img src="assets/images/Home_banner.png" class="img-fluid col-10 col-lg-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- Features section start -->


        <!-- category section start -->
        <div class="category">
            <div class="container">
                <owl-carousel-o [options]="categoryCarousel">
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                             OTC Medicines
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Diabetes Medicine
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                Baby & Mother
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Personal Care
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>

                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                OTC Medicinee
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>

                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                Diabetes Medicine
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Baby & Mother
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                             OTC Medicines
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Diabetes Medicine
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                Baby & Mother
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Personal Care
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>

                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                OTC Medicine
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>

                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                                Diabetes Medicine
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                    <ng-template carouselSlide class="animate__animated animate__zoomIn wow">
                        <h3>
                            <a class="d-flex align-items-center">
                              Baby & Mother
                                <i class="zmdi zmdi-chevron-down text-end"></i>
                            </a>
                        </h3>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
        <!-- category section end -->
    </div>
    <!-- Banner section end -->


    <!-- Offers Slider section start -->
    <div class="offers_slider row  py-5 g-0">
        <div class="banner_space d-none"></div>
        <owl-carousel-o [options]="bannerCarousel">
            <ng-template carouselSlide>
                <img src="assets/images/banners/1.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/2.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/3.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/4.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/1.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/2.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/3.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/4.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/1.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/2.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/3.png">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/banners/4.png">
            </ng-template>
        </owl-carousel-o>
    </div>
    <!-- Offers Slider section end -->


    <!-- vendor List start -->
    <section class="vendorList themePadding">
        <div class="sectionHeader">
            <div class="container">
                <h2 class="text-center text-lg-start">Nearby Food Restaurants</h2>
            </div>
        </div>

        <div class="sectionContent">
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/1.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Opera Tower
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/2.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Willinton Bridge
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/3.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i>Opera Tower
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/4.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Willinton Bridge
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/4.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Willinton Bridge
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/3.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i>Opera Tower
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/1.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Opera Tower
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 animate__animated animate__zoomIn wow">
                        <div class="media" (click)="vendorInfo()">
                            <div class="img_box center_img">
                                <img src="assets/images/vendor/2.png" class="crop_img">
                            </div>
                            <div class="media-body">
                                <h2>Well Life Store</h2>
                                <h5 class="d-flex align-items-center">
                                    <i class="zmdi zmdi-pin"></i> Willinton Bridge
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- vendor List section end -->

    <!-- Item section section start -->
    <section class="itemRow themePadding" style="background: #fdfdfd">
        <div class="sectionHeader">
            <div class="container">
                <h2 class="text-center text-lg-start">Health Care Products</h2>
            </div>
        </div>

        <div class="sectionContent">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/1.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Salospir 100mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/2.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Xenical 120mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/3.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Allergy Relief <br>Topcare Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/4.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Arber OTC <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/5.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Non Drosy <br>Laritin Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/6.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">CoricibinHBP 100mg<br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Item section section end -->


    <!-- Today Discount start -->
    <section class="discount" style="background: #fdfdfd">
        <div class="container">
            <div class="offer">
                <div class="row align-items-center px-lg-4 px-xl-5">
                    <div class="col-12 col-md-4 col-lg-3">
                        <img src="assets/images/logo.png" class="img-fluid col-10 col-md-12 col-lg-8">
                    </div>
                    <div class="col-12 col-md-8 col-lg-9">
                        <h2>Save flat 5% extra on medicines & Enjoy Free Delivery on first order</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Today Discount end -->

    <!-- Item section section start -->
    <section class="itemRow themePadding" style="background: #fdfdfd">
        <div class="sectionHeader">
            <div class="container">
                <h2 class="text-center text-lg-start">Health Care Products</h2>
            </div>
        </div>

        <div class="sectionContent">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/1.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Salospir 100mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/2.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Xenical 120mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/3.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Allergy Relief <br>Topcare Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/4.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Arber OTC <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/5.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Non Drosy <br>Laritin Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/6.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">CoricibinHBP 100mg<br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/2.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Xenical 120mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/5.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Non Drosy <br>Laritin Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/1.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Salospir 100mg <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/6.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">CoricibinHBP 100mg<br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/3.png">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Allergy Relief <br>Topcare Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.00
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 col-xl-2 animate__animated animate__zoomIn wow">
                        <div class="item px-4">
                            <div class="itemImg" (click)="medicine_info()">
                                <img src="assets/images/items/4.png">
                                <img src="assets/images/icons/px.png" class="prescription">
                            </div>
                            <div class="itemText">
                                <h2 (click)="medicine_info()">Arber OTC <br>Tablet</h2>
                                <h4 class="d-flex align-items-center">
                                    $3.50
                                    <span class="end">
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Item section section end -->


    <!-- Download app section start -->
    <app-download-our-app> </app-download-our-app>
    <!-- Download app section end -->

    <!--Footer start -->
    <app-footer></app-footer>
    <!--Footer end -->
</div>
