<!-- track order section start -->

<div class="row g-0 d-flex">
    <div class="col-12 col-md-6 col-xl-3 end">
        <div class="send_to_bank">
            <div class="header d-flex">
                <i class="zmdi zmdi-close" (click)="close()"></i>
                <h2>{{'review_order' | translate}} </h2>
            </div>
            <form class=" px-0">
                <div class="card pt-3">
                    <div class="item_detail animate__animated animate__fadeInUp d-flex px-3">
                        <div class="text_box">
                            <h2>Well life Store</h2>
                            <h3>Salospir 100mg <br>Tablet</h3>
                        </div>
                        <div class="img_box end">
                            <img src="assets/images/items/1.png">
                        </div>
                    </div>
                    <div class="overall_experience animate__animated animate__fadeInUp px-3">
                        <h2>{{'overall_experience' | translate}}</h2>
                        <div class="rate">
                            <span [ngClass]="ratingIcon1 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon1()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon2 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon2()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon3 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon3()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon4 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon4()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon5 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon5()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="add_feedback animate__animated animate__fadeInUp px-3">
                        <h2>{{'add_feedback' | translate}}</h2>
                        <div class="from_inner">
                            <div class="form-group ">
                                <div class="form-group-inner">
                                    <textarea type="text" rows="5" class="form-control">{{'write_your_feedback' | translate}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn end animate__animated animate__fadeInUp" (click)="close()">
                        {{'submit' | translate}}
                    </button>
                </div>


                <div class="card pt-3">
                    <div class="item_detail animate__animated animate__fadeInUp d-flex px-3">
                        <div class="text_box">
                            <h2>Well life Store</h2>
                            <h3>Non Drosy Laritin<br>Tablet</h3>
                        </div>
                        <div class="img_box end">
                            <img src="assets/images/items/5.png">
                        </div>
                    </div>
                    <div class="overall_experience animate__animated animate__fadeInUp px-3">
                        <h2>{{'overall_experience' | translate}}</h2>
                        <div class="rate">
                            <span [ngClass]="ratingIcon6 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon6()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon7 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon7()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon8 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon8()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon9 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon9()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon10 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon10()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="add_feedback animate__animated animate__fadeInUp px-3">
                        <h2>{{'add_feedback' | translate}}</h2>
                        <div class="from_inner">
                            <div class="form-group ">
                                <div class="form-group-inner">
                                    <textarea type="text" rows="5" class="form-control">{{'write_your_feedback' | translate}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn end animate__animated animate__fadeInUp" (click)="close()">
                        {{'submit' | translate}}
                    </button>
                </div>


                <div class="card pt-3">
                    <div class="item_detail animate__animated animate__fadeInUp d-flex px-3">
                        <div class="text_box">
                            <h2>Well life Store</h2>
                            <h3> Xenical 12mg<br>Tablet</h3>
                        </div>
                        <div class="img_box end">
                            <img src="assets/images/items/2.png">
                        </div>
                    </div>
                    <div class="overall_experience animate__animated animate__fadeInUp px-3">
                        <h2>{{'overall_experience' | translate}}</h2>
                        <div class="rate">
                            <span [ngClass]="ratingIcon11 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon11()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon12 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon12()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon13 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon13()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon14 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon14()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span [ngClass]="ratingIcon15 ? 'icon_box active' : 'icon_box'" (click)="toggleRatingIcon15()">
                                <i class="zmdi zmdi-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="add_feedback animate__animated animate__fadeInUp px-3">
                        <h2>{{'add_feedback' | translate}}</h2>
                        <div class="from_inner">
                            <div class="form-group ">
                                <div class="form-group-inner">
                                    <textarea type="text" rows="5" class="form-control">{{'write_your_feedback' | translate}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn end animate__animated animate__fadeInUp" (click)="close()">
                        {{'submit' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- track order section start -->